<div class="nav-bar">
  <nav class="docs-navbar-header">
    <a aria-label="Hillwave Home" class="hw-button" mat-button routerLink="/">Home</a>
    <a aria-label="Hillwave Home" class="hw-button" mat-button routerLink="/">Search</a>
    <a aria-label="Hillwave Home" class="hw-button" mat-button routerLink="/">Works</a>
    <a aria-label="Hillwave Home" class="hw-button" mat-button routerLink="/">Discuss</a>
    <a aria-label="Hillwave Home" class="hw-button" mat-button routerLink="/">Account</a>
  </nav>
</div>
